<div class="container mx-auto p-4">

    <!-- Clave de acceso -->
    <div *ngIf="!acceso()">
        <h2 class="text-lg font-bold mb-2">🔒 Acceso restringido</h2>
        <input
                type="password"
                class="border rounded px-4 py-2"
                placeholder="Introduce la clave"
                [(ngModel)]="password"
                (input)="password = $any($event.target).value"
        />
        <button class="ml-2 px-4 py-2 bg-blue-600 text-white rounded" (click)="verificarClave()">Entrar</button>
    </div>

    <!-- Panel de edición -->
    <div *ngIf="acceso()">
        hola
    </div>
</div>
