.whatsapp-container {
    position: fixed;
    bottom: 120px;
    right: 20px;
    z-index: 10000;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.whatsapp-toggle {
    background-color: #25d366;
    border: none;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.whatsapp-toggle img {
    width: 28px;
    height: 28px;
}

.whatsapp-chat {
    width: 260px;
    background-color: #ffffffee;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
    animation: fadeIn 0.3s ease-out;
    font-family: sans-serif;
}

.chat-header {
    background-color: #25d366;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px 12px 0 0
}

.chat-body {
    padding: 10px;
    font-size: 14px;
    color: #333;
}

.chat-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 10px;
    background-color: #25d366;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius:0 0 12px 12px;
}

.chat-button:hover {
    background-color: #1ebd5b;
}

.chat-button img {
    width: 20px;
    height: 20px;
}

.close-button {
    background: none;
    border: none;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
