<div class="flex flex-col">
  <app-header></app-header>
  <div style="background: #fffaf7">
    <app-main-section></app-main-section>
  </div>
  <div >
    <app-second-section></app-second-section>
  </div>
 <div style="background-size: contain;background: #F2E3E8">
    <app-third-section></app-third-section>
  </div>
  <div  style="background:#FFFAF7;">
    <app-team-section></app-team-section>
  </div>
  <div style="background-size: contain;background: #fff8f3">
    <app-footer-section></app-footer-section>
  </div>
</div>
