<section class="bg-[#355375] text-white py-16 px-4">
    <h2 class="text-2xl sm:text-3xl font-semibold text-center mb-10">{{ 'section_why_us.title' | translate }}</h2>
    <ul class="max-w-4xl mx-auto grid md:grid-cols-2 gap-4 text-left text-lg">
        <li>{{ 'section_why_us.reasons.reason_1' | translate }}</li>
        <li>{{ 'section_why_us.reasons.reason_2' | translate }}</li>
        <li>{{ 'section_why_us.reasons.reason_3' | translate }}</li>
        <li>{{ 'section_why_us.reasons.reason_4' | translate }}</li>
        <li>{{ 'section_why_us.reasons.reason_5' | translate }}</li>
    </ul>
</section>