<!-- 🏠 Hero / Bienvenida -->
<section id="hero" class="text-center flex flex-col items-center gap-10 justify-center py-32 px-4 min-h-[100vh]">
    <h1 class="text-3xl sm:text-5xl font-bold text-white mb-4">
        {{ 'section_hero.headline' | translate }}
    </h1>
    <p class="text-lg sm:text-xl text-white mb-6">
        {{ 'section_hero.subheadline' | translate }}

    </p>
    <a
            href="{{ 'section_hero.buttons.link' | translate }}" class="bg-[#355375] w-max text-white px-6 py-3 rounded hover:bg-[#2c425c] transition">
        {{ 'section_hero.buttons.text' | translate }}
    </a>
</section>
